<!DOCTYPE html>
<html lang="ru">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <title>main page</title>
</head>

<body>
    <main class="container p-5">
        <h1>main page</h1>
        <div class="mt-5">
            <form method="GET">{% csrf_token %}
                <input type="text" name="query" maxlength="100" required>
                <input type="submit" value="search">
            </form>
            <form method="GET" class="mt-4">{% csrf_token %}
                <div>
                    <label for="country_select">Country name ({{ country_items.count }}):</label>
                    <select name="country_title">
                        <option name="country_name" id="" value="">----</option>
                        {% for key in country_items %}
                        <option name="country_name" id="" value="{{key.0}}">{{key.1}}</option>
                        {% endfor %}
                    </select>

                    <label for="city_select">City name ({{ city_items.count }}):</label>
                    <select name="city_title">
                        <option name="city_name" id="" value="">----</option>
                        {% for key in city_items %}
                        <option name="city_name" id="" value="{{key.0}}">{{key.1}}</option>
                        {% endfor %}
                    </select>
                    <label for="item_select">Item name ({{ item_items.count }}):</label>
                    <select name="item_title">
                        <option name="item_name" id="" value="">----</option>
                        {% for key in item_items %}
                        <option name="item_name" id="" value="{{key.0}}">{{key.1}}</option>
                        {% endfor %}
                    </select>
                    <label>Verified:</label>
                    <select name="verified-select">
                        <option value="">----</option>
                        <option value="A">All photo</option>
                        <option value="M">Verified</option>
                        <option value="N">Not verified</option>
                    </select>
                </div>
                <div class="mt-2">
                    <label>Related:</label>
                    <input type="radio" name="related">
                </div>
                <div class="mt-4"><input type="submit" value="get photo list"></div>

            </form>
            <hr>
            <div>
                {% for key in photos %}
                <div class="d-inline-block m-1">
                    <a href="/{{ key.id }}">
                        <img src="/media/{{ key.image }}" alt="" width="100px">
                        <small class="d-block">{{ key.approved }}, {{ key.tag_class }}</small>
                    </a>
                </div>
                {% endfor %}
            </div>
    </main>




    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
        integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous">
    </script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous">
    </script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous">
    </script>
</body>

</html>